.site-layout-content {
  min-height: 280px;
  padding: 24px;
}
#components-layout-demo-top  {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top{
  float: right;
  margin: 16px 0 16px 24px;
}

.logo {
  float: left;
  width: 130px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
  background-image: url('./../assets/parallax-logo.png');
  background-size: 130px 35px;
}

.ant-layout-header {
    background: white!important;
}